@tailwind base;
@tailwind components;
@tailwind utilities;

/* app.css */
body {
    margin: 1rem;
    /* Default margin for all screen sizes */

    @media (min-width: 768px) {
        margin: 1rem;
        /* Margin for medium screens and larger */
    }

    @media (min-width: 1024px) {
        margin: 2rem;
        /* Margin for large screens and larger */
    }

    @media (min-width: 1280px) {
        margin: 2rem;
        /* Margin for extra-large screens and larger */
    }
}